/* src/styles/RecipeDetail.module.css */
.recipeDetail {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 600px;
    background-color: #f9f9f9;
  }
  
  .recipeTitle {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .recipeImage {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .recipeCategory {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #555;
  }
  
  .ingredientList {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .instructions {
    font-size: 1em;
    line-height: 1.5;
  }
  